<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-3xl font-bold my-5">About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sint accusantium officiis, ipsa natus culpa eligendi velit porro. Officia veritatis odit ratione repellat aut, veniam ut deserunt velit rem explicabo?</p>
</section>
