<header class="bg-zinc-900 flex flex-col md:flex-row text-center md:text-left  p-20 gap-4">
  <div>
    <h1 class="text-4xl font-bold pb-2">Protect Your Password</h1>
    <p class="py-2">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, aut.
    </p>
    <button class="bg-indigo-500 px-3 py-2 my-4 hover:bg-indigo-600"> Start Now</button>
  </div>
  <img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
