---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre nosotros" >
	<div class="">

		<h1>About Page</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat beatae nulla reiciendis, quisquam magni, recusandae consequuntur est ullam totam earum cumque tempora, ipsum laboriosam maxime eos ad. Reiciendis illo voluptate eum totam nemo! Voluptates natus, ducimus rem sint cumque unde delectus a facilis nulla nisi fugit dolores expedita incidunt vel saepe eligendi qui dignissimos eaque libero eum alias doloremque odit porro. Tempora doloremque magnam quas aliquid unde! Odio sit placeat illum in laboriosam vitae? Exercitationem excepturi harum, mollitia necessitatibus ea architecto delectus cupiditate inventore, sint dolore molestias voluptatem odit aliquid minus at maxime recusandae nisi eum veniam consectetur. Nam, neque?</p>
	</div>
</Layout>