---

---

<footer class="bg-gray-800 p-4">
    <div class="container w-5/6 mx-auto  flex flex-col md:flex-row justify-between">
        <div>
            <h4 class="font-bold text-xl">Site Map</h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/pricing">Pricing</a>
        </div>
        <div>
            <h4 class="font-bold text-xl">Site Map</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">SocialLinks</h4>
            <a href="/">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <a href="">Tiktok</a>
        </div>
    </div>
</footer>